<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>ua.kozak_vitalii.project_9.servlets.ShoppingServlet</servlet-class>
    </servlet>

    <session-config>
        <session-timeout> 120</session-timeout>
    </session-config>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/resource/log4j.xml</param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/ShoppingServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LocalizationFilter</filter-name>
        <filter-class>ua.kozak_vitalii.project_9.filters.LocalizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocalizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LocalizationFilter</filter-name>
        <servlet-name>ShoppingServlet</servlet-name>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/exception.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/WEB-INF/jsp/exception.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/WEB-INF/jsp/exception.jsp</location>
    </error-page>

</web-app>